<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alea" version="3.0.4" targetFramework="net46" />
  <package id="Bumpkit" version="1.0.2" targetFramework="net46" />
  <package id="FSharp.Core" version="4.3.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
</packages>